html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #050505;
  color: #d0ffd0;
  font-family: "Segoe UI", system-ui, -apple-system, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: #7cff00;
}

a:hover {
  color: #baff66;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #1a1a1a;
}
::-webkit-scrollbar-track {
  background: #050505;
}
